[user]
	email = brookskindle+git@gmail.com
	name = Brooks Kindle
[core]
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	default = simple
[alias]
    # Grep over the entire repository, regardless of current working directory
    # Shell commands (!) are always run at the top level directory
    # http://stackoverflow.com/a/10868614
    rgrep = !git grep
    authors = "!git log --format='%aN --> %aE' | sort | uniq"
[difftool]
	prompt = false
